._boardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bcPrimary {
  composes: _boardContainer;
  margin-left: 40px;
  margin-right: 40px;
  width: 100%;
}

.bcSecondary {
  composes: _boardContainer;
  margin: 10px;
}

@media (max-width: 480px) {
  .bcPrimary {
    margin: 2px;
  }
}

.boardName {
  font-size: 1em;
}

.tapModeSelector {
  /* Explicitly hidden on desktop & spectator mode by useMediaQuery in BingoGame.tsx */

  display: flex;
  justify-content: center;
  width: 100%;
  text-align: center;
  label:not(:global(.chakra-switch)) {
    margin: -3px 8px 0;
  }
  margin-bottom: 5px;
}
